html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	background-color: rgb(18, 18, 18);
}
header, footer {
	background-color: rgb(18, 18, 18);
	text-align: left;
}
header {
	font-family: 'Asap', sans-serif;
	color: rgba(255, 255, 255, 0.75);
	min-height: 100vh;
	display: flex;
}
main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(40%, 1fr) ) ;
	grid-gap: 20px;
	margin-top: 44px;
	justify-items: center;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}
h1 {
	font-family: 'Asap', sans-serif;
	font-weight: 500;
	font-size: calc(1em + 3vw);
	padding-bottom: 0.25em;
	border-bottom: 1px solid;
	line-height: 1.3;
	text-align: center;
}
h2 {
	font-family: 'Asap', sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.3px;
	text-align: left;
	color: #5696d3;
	padding: 10px 0px 10px 10px;
}
h3 {
	padding: 0px 0px 0px 16px;
	font-size: 16px;
}
a {
  color: powderblue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
	width: 100%;
	height: 50vh;
	object-fit: cover;
	object-position: center;
}
.portrait {
  display: block;
  margin: 0 auto;
	width: 25%;
	height: auto;
}
.wrapper {
	max-width: 1150px;
	margin: auto;
	padding: 25px;
	display: block;
}
.bio {
	color: rgba(255, 255, 255, 0.75);
	font-size: 24px;
	font-family: 'Asap', sans-serif;
	margin-bottom: 1rem;
}
.buttonBox {
	display: flex;
	justify-content: center;
	align-content: center;
}
.myButton {
	border-radius: 28px;
	border: 1px solid rgba(255, 255, 255, 0.75);
	cursor: pointer;
	color: rgba(255, 255, 255, 0.75);
	font-size: 20px;
	padding: 16px 31px;
	text-decoration: none;
	margin: 1.69em auto;
}
.myButton:hover {
	background-color: rgba(0,0,0,.25);
}
.myButton:active {
	position: relative;
	top: 1px;
}
.project {
	box-shadow: 0 0px 1px 0 rgb(0 0 0 / 40%);
	width: 100%;
}

.description {
	font-family: 'Asap', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.29;
	letter-spacing: 0.1px;
	text-align: left;
	color: rgba(255, 255, 255, 0.85);
	padding: 0 20px 20px 20px;
}
.credit {
	font-family: 'Asap', sans-serif;
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 0.1px;
	text-align: left;
	color: #4a4a4a;
}
.container {
	margin: auto;
}

footer {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	display: flex;
	align-content: center;
	padding: 10px 20px;
	color: rgba(255, 255, 255, 0.5);
}

@media all and (max-width: 700px) {
	main {
		grid-template-columns: 1fr;
	}
}
